extends ./../layout.pug

block title
    | Indicação aceita

block content
    p Prezados #{estabelecimento},
    br
    p
        | O fornecedor #{fornecedor} sob o CNPJ: #{documento}
        |  foi cadastrado com sucesso e vocês já estão aptos a realizar Cessão de Recebíveis pela ALPE.
    p Para consultar o fornecedor acesse:
    a(href=linkFornecedoresCadastrados) #{linkFornecedoresCadastrados}
